[Unit]
Description=Install maknaed's bindings mirror as /etc/maknae/bindings.yaml (opt-in)
Documentation=https://github.com/darkhonor/maknae
After=maknaed.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c '/usr/bin/maknae policy sync; rc=$$?; case $$rc in 0) exec /usr/bin/systemctl reload maknaed.service ;; 3|4) exit 0 ;; *) exit $$rc ;; esac'
